@use '/assets/_variables.scss' as *;

.category {
  &-menu {
    width: 90px;
  }
  &-item {
    text-align: center;
    padding: 1rem 0.5rem;
    cursor: pointer;
    &-src {
      display: none;
    }
    &-title {
      font-size: $fz-xs;
    }
    &.active {
      box-shadow: $cl-shadow-2;
      .category {
        &-item {
          &-src {
            display: block;
          }
          &-title {
            font-weight: 600;
          }
        }
      }
    }
  }
}