@use "../../../assets/variables" as *;

.menu-bottom {
  min-height: $height-menu-bottom;
  &-content {
    background-color: $cl-white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    box-shadow: $cl-shadow-2;
    z-index: 12;
  }
  &-item {
    padding: 6px 0;
    &.active {
      .menu-bottom {
        &-title {
          color: $cl-black;
          font-weight: 600;
        }
        &-icon {
          color: $cl-primary !important;
        }
      }
    }
  }
  &-title {
    color: $cl-gray5;
    line-height: 1.4;
    margin-top: -2px;
  }
  &-icon {
    color: $cl-gray5 !important;
  }
}