@use "@/assets/_variables.scss" as *;

.cart {
  &-body {
    padding-bottom: 230px;
  }
  &-mb {
    &-submit {
      background-color: $cl-white;
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      padding: 1rem;
      z-index: 13;
      &-item {
        border-bottom: 1px solid $cl-gray2;
        gap: 8px;
        padding: 0 1rem 8px 1rem;
        margin: 0 -1rem 8px -1rem;
      }
    }
  }
}
