@use "@/assets/_variables.scss" as *;

.popup-cart {
  &-body {
    padding-bottom: 140px;
  }
  &-card {
    background-color: $cl-white;
    padding: 1rem;
  }
  &-footer {
    &-item {
      display: flex;
      justify-content: space-between;
      &-save {
        color: $cl-gray5;
      }
      &-current {
        text-decoration: line-through;
      }
    }
  }
}
