@use "@/assets/variables" as *;

.popup-detail-product {
  &-info {
    border-radius: $rd-xl $rd-xl 0 0;
  }
  &-image {
    margin: 0 -1rem 0 -1rem;
    text-align: center;
  }
  &-card {
    background-color: $cl-white;
    padding: 1rem 1rem 0 1rem;
  }
  &-bottom {
    background-color: $cl-white;
    padding: 1rem;
    border-radius: $rd-md;
  }
  &-quantity {
    width: 3rem;
  }
  @media (min-width: 1025px){
    &-image {
      margin: 0;
    }
  }
}
