@use "@/assets/variables" as *;

.admin-wrapper {
  background: $cl-gray2;
  min-height: 100vh;
}

.main-admin {
  @media (min-width: 1025px){
    padding-left: $width-taskbar;
    .v-table__wrapper {
      height: calc(100dvh - ($space-md * 2 + $height-header + $height-table-footer));
    }
    .v-data-table-no-footer .v-table__wrapper {
      height: calc(100dvh - ($space-md * 2 + $height-header));
    }
    & > .v-container {
      padding: $space-md;
    }
  }
}
