@use "@/assets/variables" as *;

.main-admin {
  @media (min-width: 1025px){
    .v-table__wrapper {
      height: calc(100dvh - ($space-md + $height-header + $height-table-footer));
    }
    .v-data-table-no-footer .v-table__wrapper {
      height: calc(100dvh - ($space-md + $height-header));
    }
    & > .v-container {
      padding: 0 $space-md $space-sm $space-md;
      max-width: inherit;
    }
  }
}
