@use "@/assets/variables" as *;

.information-account {
  background: $cl-gradient-1;
  padding: $space-ms 0;
  &-card {
    border-radius: $rd-lg;
    padding: 1rem;
    background-color: $cl-blur1;
    backdrop-filter: blur(10px);
    border: 1px solid rgb(255 255 255 / 30%);
  }
  &-point {
    padding: 0 8px;
  }
  &-process {
    position: relative;
    border-radius: $rd-lg;
    overflow: hidden;
    &-percent {
      background-color: $cl-black;
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      z-index: 1;
    }
    &-line {
      height: 8px;
      width: 100%;
      background-color: $cl-blur1;
    }
  }
}