@use "@/assets/variables" as *;

.voucher-item2 {
 position: relative;
 &::before, &::after {
  content: '';
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: $cl-four; 
  top: 1rem;
 }
 &::before {
  left: -0.5rem;
 }
 &::after {
  right: -0.5rem;
 }
}