@use '@/assets/_variables.scss' as *;

.account {
  &-bg {
    min-height: calc(100dvh - $height-header - $height-menu-bottom);
  }
  &-link {
    &-text {
      border-bottom: 1px solid $cl-gray2;
    }
    &-item {
      &.active {
        color: $cl-primary;
      }
      &:last-child {
        margin-bottom: 0 !important;
      }
    }
  }
  @media (min-width: 1025px){
    &-top {
      &-avatar {
        width: 150px;
        height: 150px;
      }
    }
    &-container {
      max-width: 800px;
      margin: 0 auto;
    }
  }
}