@use "@/assets/variables" as *;

.breadcrumb {
  &-image {
    position: relative;
    &::before {
          position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50%;
    background-image: linear-gradient(to top, $cl-gray6 0%, rgba(0, 0, 0, 0) 100%);
    content: "";
    transition: 0.5s;
    pointer-events: none;
    z-index: 2;
    }
  }
}
