@use "@/assets/variables" as *;

.product-template1 {
  &-listView {
    display: flex;
    &.product-template1-item {
      margin-bottom: $space-sm;
      border-radius: $rd-xl;
      padding: 6px;
      border: 1px solid $cl-gray2;
      background-color: $cl-white;
    }
    .product-template1 {
      &-image {
        width: 87px;
      }
      &-content {
        width: calc(100% - 87px);
        padding: 0 0 0 10px !important;
      }
    }
  }
}
