@use "@/assets/variables" as *;

.product-template1 {
  &-item {
    overflow: hidden;
    position: relative;
  }
  &-image {
    background-color: $cl-gray6;
    border-radius: $rd-lg;
    text-align: center;
    position: relative;
    padding: 1rem;
    overflow: hidden;
    &-src {
      border-radius: $rd-lg;
    }
  }
  &-voucher {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  &-amount {
    color: $cl-white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0 0 0 / 30%);
  }
  &-plus {
    position: absolute;
    right: 6px;
    bottom: 6px;
    z-index: 1;
    &-number {
      background-color: $cl-white;
      color: $cl-black;
      font-weight: 600;
      width: $space-md;
      height: $space-md;
      line-height: $space-md;
      border-radius: $rd-md;
      text-align: center;
      border: 1px solid $cl-gray;
    }
  }
  &-content {
    padding: 1rem 1rem 0 1rem;
  }
  &-title {
    line-height: 1.5;
    margin-bottom: 12px;
  }
  &-price * {
    line-height: 1;
    font-weight: 600;
    display: flex;
    gap: 8px;
    align-items: baseline;
    span {
      text-decoration: line-through;
      font-weight: 400;
      color: $cl-gray5;
      font-size: $fz-xs;
    }
  }
  &-action {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: 0.4s all;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    &.active {
      transform: scale(1);
      opacity: 1;
      visibility: visible;
    }
    &-before {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      background-color: $cl-white;
      opacity: 0.7;
    }
  }
  &-input {
    display: flex;
    width: fit-content;
    padding: 6px;
    background-color: $cl-white;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
      rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    position: relative;
    .portal-control-item {
      margin-bottom: 0;
    }
    &-btn {
      width: 30px;
    }
    &-btn,
    &-quantity {
      color: $cl-black;
      background-color: $cl-white;
      cursor: pointer;
      height: 30px;
      padding: 0;
      border: none;
      border-radius: $rd-sm;
      text-align: center;
      caret-color: transparent;
      font-size: 24px;
      &::placeholder {
        color: $cl-black;
      }
    }
    &-quantity {
      background-color: transparent;
      width: 2.5rem;
      font-size: 18px;
    }
  }
  &-favorite {
    position: absolute;
    right: 6px;
    top: 6px;
    z-index: 1;
  }
  &-delete {
    background-color: $cl-white;
    position: absolute;
    left: 6px;
    top: 6px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  &-listView {
    display: flex;
    &.product-template1-item {
      margin-bottom: $space-sm;
      border-radius: $rd-xl;
      padding: 6px;
      border: 1px solid $cl-gray2;
      background-color: $cl-white;
    }
    .product-template1 {
      &-image {
        width: 87px;
        position: static;
        border: none;
        padding: 0.25rem;
      }
      &-content {
        width: calc(100% - 87px);
        padding: 0 0 0 10px;
      }
      &-plus {
        bottom: 6px;
        right: 6px;
        border-radius: 30px;
      }
    }
  }
  &-item.variant-card {
    border-radius: $rd-lg;
    padding: 0.5rem;
    background-color: $cl-white;
    box-shadow: $cl-shadow-1;
    .product-template1 {
      &-content {
        padding: 1rem 0.75rem 0.75rem 0.75rem;
      }
    }
  }
  @media (min-width:1025px){
    &-favorite {
      right: 12px;
      top: 12px;
    }
    &-delete {
      left: 12px;
      top: 12px;
    }
    &-plus {
      right: 12px;
      bottom: 12px;
    }
  }
}
