@use "@/assets/variables" as *;

$height-product-fixed-bottom: 180px;

.product-detail {
  &-body {
    padding-bottom: calc($height-product-fixed-bottom - $height-menu-bottom);
    @media (min-width: 1025px){
      padding-bottom: 0;
    }
  }
  &-gallery {
    position: relative;
    .swiper-button {
      &-next, &-prev {
        top: auto;
        bottom: 1rem;
        background-color: $cl-white;
        color: $cl-black2;
      }
      &-next {
        right: 1rem !important;
      }
      &-prev {
        left: auto !important;
        right: 3.5rem !important;
      }
    }
    &-thumbs {
      .swiper-slide img {
        border: 1px solid transparent;
      }
      .swiper-slide-thumb-active img {
        border: 1px solid $cl-primary;
      }
    }
    @media (min-width: 1025px){
      overflow: hidden;
      border-radius: $rd-lg;
    }
  }
  &-percent {
    border-radius: 8px;
    padding: 3px 10px 2px 10px;
    background-color: $cl-primary;
    color: $cl-white;
    font-weight: 500;
    display: block;
  }
  .cart-point-info-label {
    margin-top: $space-md !important;
    padding: 0.5rem 1rem;
    border-radius: 0.75rem;
    background-color: $cl-gray2 !important;
    border: none;
  }
  &-options {
    .v-selection-control__wrapper {
      display: none;
    }
    .button {
      height: 2.5rem;
      padding: 0 0.85rem;
      min-width: 52px;
      position: relative;
      span {
        position: relative;
        z-index: 1;
      }
    }
    &.v-selection-control--dirty .button {
      color: $cl-white;
      background-color: $cl-black;
    }
    &.v-selection-control {
      flex: none;
    }
    &.v-selection-control--disabled {
      .button::before, .button::after {
        content: '';
        border: 1px dashed $cl-gray4;
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
      }
      .button::before {
        rotate: 16deg;
      }
      .button::after {
        rotate: -16deg;
      }
    }
  }
  .v-selection-control-group {
    margin: 0 !important;
  }
  &-button-order {
    position: relative;
    &-action {
      position: absolute;
      left: 0;
      top: 0;
      background-color: #ff798c;
      border-radius: $rd-lg;
      z-index: 1;
    }
    &-add {
      padding-left: 6rem;
      font-size: $fz-normal;
    }
  }
  &-description {
    overflow: hidden;
    max-height: 300px;
    position: relative;
    &::before {
      content: '';
      background: linear-gradient(rgba(242, 242, 242, 0) -28.68%, $cl-gray6 70.51%);
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 30%;
    }
    &.active {
      max-height: inherit;
      margin-bottom: $space-sm;
      &::before {
        opacity: 0;
        visibility: hidden;
      }
    }
  }
  &-rating {
    &-icon {
      font-size: $fz-large !important;
      margin-bottom: 2px;
    }
  }
  &-fixed {
    &-mobile, &-pc {
      background-color: $cl-white;
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      padding: 4px 1rem 1rem 1rem;
      transition: 0.2s all;
      z-index: 13;
      &.hide {
        opacity: 0;
        visibility: hidden;
      }
      .popup-detail {
        &-options {
          &-list {
            overflow-x: auto;
          }
        }
      }
    }
    &-pc {
      top: 0;
      bottom: auto;      
      padding: 0;
      &-item {
        padding: 0.5rem 0;
        &.options {
          border-left: 1px solid $cl-gray2;
          border-right: 1px solid $cl-gray2;
          padding: 0.5rem 1.5rem;
          gap: 1.5rem;
        }
        .product-detail-options-heading {
          margin-top: 0 !important
        }
      }
    }
  }
}