@use "@/assets/variables" as *;

$height-product-fixed-bottom: 180px;

.product-detail {
  &-gallery {
    position: relative;
    .swiper-button {
      &-next, &-prev {
        top: auto;
        bottom: 1rem;
        background-color: $cl-white;
        color: $cl-black2;
      }
      &-next {
        right: 1rem !important;
      }
      &-prev {
        left: auto !important;
        right: 3.5rem !important;
      }
    }
    &-thumbs {
      &-slide {
        border: 1px solid transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 12px;
        overflow: hidden;
        aspect-ratio: 1 / 1;
      }
      .swiper-slide-thumb-active &-slide {
        border: 1px solid $cl-primary;
      }
    }
    @media (min-width: 1025px){
      overflow: hidden;
      border-radius: $rd-lg;
    }
  }
  .cart-point-info-label {
    margin-top: $space-md !important;
    padding: 0.5rem 1rem;
    border-radius: 0.75rem;
    background-color: $cl-gray2 !important;
    border: none;
  }
  &-options {
    .v-selection-control__wrapper {
      display: none;
    }
    .button {
      height: 2.5rem;
      padding: 0 0.85rem;
      min-width: 52px;
      position: relative;
      span {
        position: relative;
        z-index: 1;
      }
    }
    &.v-selection-control--dirty .button {
      color: $cl-white;
      background-color: $cl-black;
    }
    &.v-selection-control {
      flex: none;
    }
    &.v-selection-control--disabled {
      .button::before, .button::after {
        content: '';
        border: 1px dashed $cl-gray4;
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
      }
      .button::before {
        rotate: 16deg;
      }
      .button::after {
        rotate: -16deg;
      }
    }
  }
  .v-selection-control-group {
    margin: 0 !important;
  }
  &-button-order {
    position: relative;
    &-action {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
    }
    &-add {
      padding-left: 132px;
      padding-right: 0;
    }
  }
  &-description {
    overflow: hidden;
    max-height: 300px;
    position: relative;
    &::before {
      content: '';
      background: linear-gradient(rgba(242, 242, 242, 0) -28.68%, $cl-gray6 70.51%);
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 30%;
    }
    &.active {
      max-height: inherit;
      margin-bottom: $space-sm;
      &::before {
        opacity: 0;
        visibility: hidden;
      }
    }
  }
  &-rating {
    &-icon {
      font-size: $fz-large !important;
      margin-bottom: 2px;
    }
  }
}