@use "@/assets/variables" as *;

.product-list-section {
  &-top {
    padding-top: $space-sm;
    padding-bottom: $space-sm;
  }
  &-button {
    margin-top: $space-sm;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    button {
      flex: 0 0 auto;
    }
  }
  @media (min-width: 1025px){
    &-top {
      display: flex;
      justify-content: space-between;
      gap: $space-md;
      padding-top: $space-md;
      padding-bottom: 1.2rem;
      position: sticky;
      top: 0;
      z-index: 3;
    }
    &-button {
      margin-top: 0;
    }
  }
}
