// font chữ
$font-base: 'Poppins', sans-serif;

// Màu sắc
// $cl-primary:#FF4560;
$cl-primary:#222222;
// $cl-primary:#b2292e;
// $cl-primary:#e11d38;
// $cl-primary:#E30E27;
// $cl-secondary: #ea4141;
$cl-secondary: #000000;
$cl-third: #FEF3F3;
$cl-four: #FF4D77;
$cl-gray: #E2E2E2;
$cl-gray2: #f1f1f1;
$cl-gray3: #dbdbdb;
$cl-gray4: #C1C1C1;
$cl-gray5: #7B7B7B;
$cl-gray6: #f9f9f9;
$cl-gray7: #EEEEEE;
$cl-gray8: #585858;
$cl-text: #121212;
$cl-white: #ffffff;
$cl-black: #000000;
$cl-black2: #333333;
$cl-bg1: #fe4d5012;
$cl-blur1: rgb(255 255 255 / 50%);
$cl-blur2: rgb(18 18 18 / 10%);
$cl-gradient-1: linear-gradient($cl-primary 70%, transparent);
$cl-gradient-2: linear-gradient(to top, rgba(0,0,0,.4), transparent);
$cl-gradient-3: linear-gradient(180deg, #FFE7EA 0%, rgba(242, 242, 242, 0) 100%);
$cl-shadow-1: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
$cl-shadow-2: 0 0 15px rgba(0, 0, 0, 0.05);
$cl-shadow-3: 0 2px 10px rgba(0, 0, 0, 0.035);
$cl-blue: #2196F3;
$cl-danger: #ff0000;
$cl-success: #48B250;
$cl-warning: #FFB800;
$cl-freeship-text: #1EAAA9;
$cl-freeship-bg: #F1FBFB;


// Khoảng cách (spacing)
$space-xs: 6px;
$space-sm: 12px;
$space-ms: 16px;
$space-md: 24px;
$space-lg: 32px;
$space-xl: 44px;

// Font size
$fz-xs: 12px;
$fz-base: 14px;
$fz-normal: 16px;
$fz-medium: 18px;
$fz-large: 20px;
$fz-large-2: 24px;
$fz-xl: 28px;
$fz-xxl: 40px;

// Bo góc (radius)
$rd-sm: 4px;
$rd-md: 8px;
$rd-lg: 12px;
$rd-xs: 16px;
$rd-xl: 20px;
$rd-xxl: 24px;

//gutter
$gutter-x: 1rem;

//layout
$height-header: 68px;
$height-header-sub: 40px;
$height-menu-bottom: 53px;
$height-header-admin: 76px;
$height-header-admin-filter: $height-header-admin + 70;
$width-taskbar: 240px;
$width-taskbar-hide: 70px;

//v-table
$height-table-footer: 68px;