/* color palette from <https://github.com/vuejs/theme> */


:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
p {
	padding: 0;
	margin: 0;
}

a {
	cursor: pointer;
	background: transparent;
	text-decoration: none;
	-webkit-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

ul,
ol {
	list-style: none;
}

iframe {
	max-width: 100%;
}

img {
	vertical-align: middle;
	border-style: none;
	max-width: 100%;
	height: auto;
}

._show {
	display: block !important;
}

._hidden {
	display: none !important;
}

.text-left {
	text-align: left;
}
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
.text-justify {
	text-align: justify;
}

.col {
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
	-ms-flex-positive: 1;
	-webkit-box-flex: 1;
	flex-grow: 1;
	max-width: 100%;
}

.col-1 {
	-ms-flex: 0 0 8.333333%;
	-webkit-box-flex: 0;
	flex: 0 0 8.333333%;
	max-width: 8.333333%;
}

.col-2 {
	-ms-flex: 0 0 16.666667%;
	-webkit-box-flex: 0;
	flex: 0 0 16.666667%;
	max-width: 16.666667%;
}

.col-3 {
	-ms-flex: 0 0 25%;
	-webkit-box-flex: 0;
	flex: 0 0 25%;
	max-width: 25%;
}

.col-4 {
	-ms-flex: 0 0 33.333333%;
	-webkit-box-flex: 0;
	flex: 0 0 33.333333%;
	max-width: 33.333333%;
}

.col-5 {
	-ms-flex: 0 0 41.666667%;
	-webkit-box-flex: 0;
	flex: 0 0 41.666667%;
	max-width: 41.666667%;
}

.col-6 {
	-ms-flex: 0 0 50%;
	-webkit-box-flex: 0;
	flex: 0 0 50%;
	max-width: 50%;
}

.col-7 {
	-ms-flex: 0 0 58.333333%;
	-webkit-box-flex: 0;
	flex: 0 0 58.333333%;
	max-width: 58.333333%;
}

.col-8 {
	-ms-flex: 0 0 66.666667%;
	-webkit-box-flex: 0;
	flex: 0 0 66.666667%;
	max-width: 66.666667%;
}

.col-9 {
	-ms-flex: 0 0 75%;
	-webkit-box-flex: 0;
	flex: 0 0 75%;
	max-width: 75%;
}

.col-10 {
	-ms-flex: 0 0 83.333333%;
	-webkit-box-flex: 0;
	flex: 0 0 83.333333%;
	max-width: 83.333333%;
}

.col-11 {
	-ms-flex: 0 0 91.666667%;
	-webkit-box-flex: 0;
	flex: 0 0 91.666667%;
	max-width: 91.666667%;
}

.col-12 {
	-ms-flex: 0 0 100%;
	-webkit-box-flex: 0;
	flex: 0 0 100%;
	max-width: 100%;
}

.row-cols-5 > * {
	-ms-flex: 0 0 20%;
	-webkit-box-flex: 0;
	flex: 0 0 20%;
	max-width: 20%;
}

@media (min-width: 380px) {
	.text-tiny-left {
		text-align: left;
	}
	.text-tiny-center {
		text-align: center;
	}
	.text-tiny-right {
		text-align: right;
	}
	.text-tiny-justify {
		text-align: justify;
	}
	.col-tiny-1 {
		-ms-flex: 0 0 8.333333%;
		-webkit-box-flex: 0;
		flex: 0 0 8.333333%;
		max-width: 8.333333%;
	}
	.col-tiny-2 {
		-ms-flex: 0 0 16.666667%;
		-webkit-box-flex: 0;
		flex: 0 0 16.666667%;
		max-width: 16.666667%;
	}
	.col-tiny-3 {
		-ms-flex: 0 0 25%;
		-webkit-box-flex: 0;
		flex: 0 0 25%;
		max-width: 25%;
	}
	.col-tiny-4 {
		-ms-flex: 0 0 33.333333%;
		-webkit-box-flex: 0;
		flex: 0 0 33.333333%;
		max-width: 33.333333%;
	}
	.col-tiny-5 {
		-ms-flex: 0 0 41.666667%;
		-webkit-box-flex: 0;
		flex: 0 0 41.666667%;
		max-width: 41.666667%;
	}
	.col-tiny-6 {
		-ms-flex: 0 0 50%;
		-webkit-box-flex: 0;
		flex: 0 0 50%;
		max-width: 50%;
	}
	.col-tiny-7 {
		-ms-flex: 0 0 58.333333%;
		-webkit-box-flex: 0;
		flex: 0 0 58.333333%;
		max-width: 58.333333%;
	}
	.col-tiny-8 {
		-ms-flex: 0 0 66.666667%;
		-webkit-box-flex: 0;
		flex: 0 0 66.666667%;
		max-width: 66.666667%;
	}
	.col-tiny-9 {
		-ms-flex: 0 0 75%;
		-webkit-box-flex: 0;
		flex: 0 0 75%;
		max-width: 75%;
	}
	.col-tiny-10 {
		-ms-flex: 0 0 83.333333%;
		-webkit-box-flex: 0;
		flex: 0 0 83.333333%;
		max-width: 83.333333%;
	}
	.col-tiny-11 {
		-ms-flex: 0 0 91.666667%;
		-webkit-box-flex: 0;
		flex: 0 0 91.666667%;
		max-width: 91.666667%;
	}
	.col-tiny-12 {
		-ms-flex: 0 0 100%;
		-webkit-box-flex: 0;
		flex: 0 0 100%;
		max-width: 100%;
	}
	.row-cols-tiny-5 > * {
		-ms-flex: 0 0 20%;
		-webkit-box-flex: 0;
		flex: 0 0 20%;
		max-width: 20%;
	}
}


@media (min-width: 576px) {
	.text-sm-left {
		text-align: left;
	}
	.text-sm-center {
		text-align: center;
	}
	.text-sm-right {
		text-align: right;
	}
	.text-sm-justify {
		text-align: justify;
	}
	.col-sm-1 {
		-ms-flex: 0 0 8.333333%;
		-webkit-box-flex: 0;
		flex: 0 0 8.333333%;
		max-width: 8.333333%;
	}
	.col-sm-2 {
		-ms-flex: 0 0 16.666667%;
		-webkit-box-flex: 0;
		flex: 0 0 16.666667%;
		max-width: 16.666667%;
	}
	.col-sm-3 {
		-ms-flex: 0 0 25%;
		-webkit-box-flex: 0;
		flex: 0 0 25%;
		max-width: 25%;
	}
	.col-sm-4 {
		-ms-flex: 0 0 33.333333%;
		-webkit-box-flex: 0;
		flex: 0 0 33.333333%;
		max-width: 33.333333%;
	}
	.col-sm-5 {
		-ms-flex: 0 0 41.666667%;
		-webkit-box-flex: 0;
		flex: 0 0 41.666667%;
		max-width: 41.666667%;
	}
	.col-sm-6 {
		-ms-flex: 0 0 50%;
		-webkit-box-flex: 0;
		flex: 0 0 50%;
		max-width: 50%;
	}
	.col-sm-7 {
		-ms-flex: 0 0 58.333333%;
		-webkit-box-flex: 0;
		flex: 0 0 58.333333%;
		max-width: 58.333333%;
	}
	.col-sm-8 {
		-ms-flex: 0 0 66.666667%;
		-webkit-box-flex: 0;
		flex: 0 0 66.666667%;
		max-width: 66.666667%;
	}
	.col-sm-9 {
		-ms-flex: 0 0 75%;
		-webkit-box-flex: 0;
		flex: 0 0 75%;
		max-width: 75%;
	}
	.col-sm-10 {
		-ms-flex: 0 0 83.333333%;
		-webkit-box-flex: 0;
		flex: 0 0 83.333333%;
		max-width: 83.333333%;
	}
	.col-sm-11 {
		-ms-flex: 0 0 91.666667%;
		-webkit-box-flex: 0;
		flex: 0 0 91.666667%;
		max-width: 91.666667%;
	}
	.col-sm-12 {
		-ms-flex: 0 0 100%;
		-webkit-box-flex: 0;
		flex: 0 0 100%;
		max-width: 100%;
	}
	.row-cols-sm-5 > * {
		-ms-flex: 0 0 20%;
		-webkit-box-flex: 0;
		flex: 0 0 20%;
		max-width: 20%;
	}
}

@media (min-width: 768px) {
	.text-md-left {
		text-align: left;
	}
	.text-md-center {
		text-align: center;
	}
	.text-md-right {
		text-align: right;
	}
	.text-md-justify {
		text-align: justify;
	}
	.col-md-1 {
		-ms-flex: 0 0 8.333333%;
		-webkit-box-flex: 0;
		flex: 0 0 8.333333%;
		max-width: 8.333333%;
	}
	.col-md-2 {
		-ms-flex: 0 0 16.666667%;
		-webkit-box-flex: 0;
		flex: 0 0 16.666667%;
		max-width: 16.666667%;
	}
	.col-md-3 {
		-ms-flex: 0 0 25%;
		-webkit-box-flex: 0;
		flex: 0 0 25%;
		max-width: 25%;
	}
	.col-md-4 {
		-ms-flex: 0 0 33.333333%;
		-webkit-box-flex: 0;
		flex: 0 0 33.333333%;
		max-width: 33.333333%;
	}
	.col-md-5 {
		-ms-flex: 0 0 41.666667%;
		-webkit-box-flex: 0;
		flex: 0 0 41.666667%;
		max-width: 41.666667%;
	}
	.col-md-6 {
		-ms-flex: 0 0 50%;
		-webkit-box-flex: 0;
		flex: 0 0 50%;
		max-width: 50%;
	}
	.col-md-7 {
		-ms-flex: 0 0 58.333333%;
		-webkit-box-flex: 0;
		flex: 0 0 58.333333%;
		max-width: 58.333333%;
	}
	.col-md-8 {
		-ms-flex: 0 0 66.666667%;
		-webkit-box-flex: 0;
		flex: 0 0 66.666667%;
		max-width: 66.666667%;
	}
	.col-md-9 {
		-ms-flex: 0 0 75%;
		-webkit-box-flex: 0;
		flex: 0 0 75%;
		max-width: 75%;
	}
	.col-md-10 {
		-ms-flex: 0 0 83.333333%;
		-webkit-box-flex: 0;
		flex: 0 0 83.333333%;
		max-width: 83.333333%;
	}
	.col-md-11 {
		-ms-flex: 0 0 91.666667%;
		-webkit-box-flex: 0;
		flex: 0 0 91.666667%;
		max-width: 91.666667%;
	}
	.col-md-12 {
		-ms-flex: 0 0 100%;
		-webkit-box-flex: 0;
		flex: 0 0 100%;
		max-width: 100%;
	}
	.row-cols-md-5 > * {
		-ms-flex: 0 0 20%;
		-webkit-box-flex: 0;
		flex: 0 0 20%;
		max-width: 20%;
	}
}

@media (min-width: 992px) {
	.text-lg-left {
		text-align: left;
	}
	.text-lg-center {
		text-align: center;
	}
	.text-lg-right {
		text-align: right;
	}
	.text-lg-justify {
		text-align: justify;
	}
	.col-lg-1 {
		-ms-flex: 0 0 8.333333%;
		-webkit-box-flex: 0;
		flex: 0 0 8.333333%;
		max-width: 8.333333%;
	}
	.col-lg-2 {
		-ms-flex: 0 0 16.666667%;
		-webkit-box-flex: 0;
		flex: 0 0 16.666667%;
		max-width: 16.666667%;
	}
	.col-lg-3 {
		-ms-flex: 0 0 25%;
		-webkit-box-flex: 0;
		flex: 0 0 25%;
		max-width: 25%;
	}
	.col-lg-4 {
		-ms-flex: 0 0 33.333333%;
		-webkit-box-flex: 0;
		flex: 0 0 33.333333%;
		max-width: 33.333333%;
	}
	.col-lg-5 {
		-ms-flex: 0 0 41.666667%;
		-webkit-box-flex: 0;
		flex: 0 0 41.666667%;
		max-width: 41.666667%;
	}
	.col-lg-6 {
		-ms-flex: 0 0 50%;
		-webkit-box-flex: 0;
		flex: 0 0 50%;
		max-width: 50%;
	}
	.col-lg-7 {
		-ms-flex: 0 0 58.333333%;
		-webkit-box-flex: 0;
		flex: 0 0 58.333333%;
		max-width: 58.333333%;
	}
	.col-lg-8 {
		-ms-flex: 0 0 66.666667%;
		-webkit-box-flex: 0;
		flex: 0 0 66.666667%;
		max-width: 66.666667%;
	}
	.col-lg-9 {
		-ms-flex: 0 0 75%;
		-webkit-box-flex: 0;
		flex: 0 0 75%;
		max-width: 75%;
	}
	.col-lg-10 {
		-ms-flex: 0 0 83.333333%;
		-webkit-box-flex: 0;
		flex: 0 0 83.333333%;
		max-width: 83.333333%;
	}
	.col-lg-11 {
		-ms-flex: 0 0 91.666667%;
		-webkit-box-flex: 0;
		flex: 0 0 91.666667%;
		max-width: 91.666667%;
	}
	.col-lg-12 {
		-ms-flex: 0 0 100%;
		-webkit-box-flex: 0;
		flex: 0 0 100%;
		max-width: 100%;
	}
	.row-cols-lg-5 > * {
		-ms-flex: 0 0 20%;
		-webkit-box-flex: 0;
		flex: 0 0 20%;
		max-width: 20%;
	}
}

@media (min-width: 1200px) {
	.text-xl-left {
		text-align: left;
	}
	.text-xl-center {
		text-align: center;
	}
	.text-xl-right {
		text-align: right;
	}
	.text-xl-justify {
		text-align: justify;
	}
	.col-xl-1 {
		-ms-flex: 0 0 8.333333%;
		-webkit-box-flex: 0;
		flex: 0 0 8.333333%;
		max-width: 8.333333%;
	}
	.col-xl-2 {
		-ms-flex: 0 0 16.666667%;
		-webkit-box-flex: 0;
		flex: 0 0 16.666667%;
		max-width: 16.666667%;
	}
	.col-xl-3 {
		-ms-flex: 0 0 25%;
		-webkit-box-flex: 0;
		flex: 0 0 25%;
		max-width: 25%;
	}
	.col-xl-4 {
		-ms-flex: 0 0 33.333333%;
		-webkit-box-flex: 0;
		flex: 0 0 33.333333%;
		max-width: 33.333333%;
	}
	.col-xl-5 {
		-ms-flex: 0 0 41.666667%;
		-webkit-box-flex: 0;
		flex: 0 0 41.666667%;
		max-width: 41.666667%;
	}
	.col-xl-6 {
		-ms-flex: 0 0 50%;
		-webkit-box-flex: 0;
		flex: 0 0 50%;
		max-width: 50%;
	}
	.col-xl-7 {
		-ms-flex: 0 0 58.333333%;
		-webkit-box-flex: 0;
		flex: 0 0 58.333333%;
		max-width: 58.333333%;
	}
	.col-xl-8 {
		-ms-flex: 0 0 66.666667%;
		-webkit-box-flex: 0;
		flex: 0 0 66.666667%;
		max-width: 66.666667%;
	}
	.col-xl-9 {
		-ms-flex: 0 0 75%;
		-webkit-box-flex: 0;
		flex: 0 0 75%;
		max-width: 75%;
	}
	.col-xl-10 {
		-ms-flex: 0 0 83.333333%;
		-webkit-box-flex: 0;
		flex: 0 0 83.333333%;
		max-width: 83.333333%;
	}
	.col-xl-11 {
		-ms-flex: 0 0 91.666667%;
		-webkit-box-flex: 0;
		flex: 0 0 91.666667%;
		max-width: 91.666667%;
	}
	.col-xl-12 {
		-ms-flex: 0 0 100%;
		-webkit-box-flex: 0;
		flex: 0 0 100%;
		max-width: 100%;
	}
	.row-cols-xl-5 > * {
		-ms-flex: 0 0 20%;
		-webkit-box-flex: 0;
		flex: 0 0 20%;
		max-width: 20%;
	}
}

@media (min-width: 1400px) {
	.text-xxl-left {
		text-align: left;
	}
	.text-xxl-center {
		text-align: center;
	}
	.text-xxl-right {
		text-align: right;
	}
	.text-xxl-justify {
		text-align: justify;
	}
	.col-xxl-1 {
		-ms-flex: 0 0 8.333333%;
		-webkit-box-flex: 0;
		flex: 0 0 8.333333%;
		max-width: 8.333333%;
	}
	.col-xxl-2 {
		-ms-flex: 0 0 16.666667%;
		-webkit-box-flex: 0;
		flex: 0 0 16.666667%;
		max-width: 16.666667%;
	}
	.col-xxl-3 {
		-ms-flex: 0 0 25%;
		-webkit-box-flex: 0;
		flex: 0 0 25%;
		max-width: 25%;
	}
	.col-xxl-4 {
		-ms-flex: 0 0 33.333333%;
		-webkit-box-flex: 0;
		flex: 0 0 33.333333%;
		max-width: 33.333333%;
	}
	.col-xxl-5 {
		-ms-flex: 0 0 41.666667%;
		-webkit-box-flex: 0;
		flex: 0 0 41.666667%;
		max-width: 41.666667%;
	}
	.col-xxl-6 {
		-ms-flex: 0 0 50%;
		-webkit-box-flex: 0;
		flex: 0 0 50%;
		max-width: 50%;
	}
	.col-xxl-7 {
		-ms-flex: 0 0 58.333333%;
		-webkit-box-flex: 0;
		flex: 0 0 58.333333%;
		max-width: 58.333333%;
	}
	.col-xxl-8 {
		-ms-flex: 0 0 66.666667%;
		-webkit-box-flex: 0;
		flex: 0 0 66.666667%;
		max-width: 66.666667%;
	}
	.col-xxl-9 {
		-ms-flex: 0 0 75%;
		-webkit-box-flex: 0;
		flex: 0 0 75%;
		max-width: 75%;
	}
	.col-xxl-10 {
		-ms-flex: 0 0 83.333333%;
		-webkit-box-flex: 0;
		flex: 0 0 83.333333%;
		max-width: 83.333333%;
	}
	.col-xxl-11 {
		-ms-flex: 0 0 91.666667%;
		-webkit-box-flex: 0;
		flex: 0 0 91.666667%;
		max-width: 91.666667%;
	}
	.col-xxl-12 {
		-ms-flex: 0 0 100%;
		-webkit-box-flex: 0;
		flex: 0 0 100%;
		max-width: 100%;
	}
	.row-cols-xxl-5 > * {
		-ms-flex: 0 0 20%;
		-webkit-box-flex: 0;
		flex: 0 0 20%;
		max-width: 20%;
	}
}
