@use "./variables" as *;
@import "./fonts/fonts.css";
@import "./base.css";

body {
  min-height: 100vh;
  color: $cl-text;
  background: $cl-white;
  margin: 0;
  line-height: 1.6;
  font-family: $font-base;
  font-size: $fz-base;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: $cl-text;
}

.container {
  width: 100%;
  padding-left: $gutter-x;
  padding-right: $gutter-x;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  &-cover {
    margin-left: -$gutter-x;
    margin-right: -$gutter-x;
  }
  @media (min-width: 1200px){
    max-width: 1300px;
  }
  @media (min-width: 1440px){
    &-xxl {
      max-width: 1800px;
    }
  }
}

.row {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: calc($gutter-x * -1);
  margin-left: calc($gutter-x * -1);
  &-xxs {
    margin-right: -0.25rem;
    margin-left: -0.25rem;
    [class*="col-"] {
      padding-right: 0.25rem;
      padding-left: 0.25rem;
    }
    &.has-control {
      margin-bottom: -0.5rem;
      [class*="col-"] {
        margin-bottom: 0.5rem;
      }
    }
  }
  &-xs {
    margin-right: -0.5rem;
    margin-left: -0.5rem;
    [class*="col-"] {
      padding-right: 0.5rem;
      padding-left: 0.5rem;
    }
    &.has-control {
      margin-bottom: -1rem;
      [class*="col-"] {
        margin-bottom: 1rem;
      }
    }
  }
  &-sm {
    margin-right: -$space-sm;
    margin-left: -$space-sm;
    [class*="col-"] {
      padding-right: $space-sm;
      padding-left: $space-sm;
    }
    &.has-control {
      margin-bottom: -$space-sm * 2;
      [class*="col-"] {
        margin-bottom: $space-sm * 2;
      }
    }
  }
}

[class*="col-"] {
  position: relative;
  width: 100%;
  padding-right: $gutter-x;
  padding-left: $gutter-x;
}

.skeleton {
  background: linear-gradient(
    90deg,
    #eee 25%,
    #f5f5f5 37%,
    #eee 63%
  );
  background-size: 400% 100%;
  animation: shimmer 1.4s ease infinite;
  border-radius: 8px;
  &-text {
    height: 14px;
    &-sm {
      height: 12px;
    }
    &-lg {
      height: 32px;
    }
    &-xl {
      height: 45px;
    }
  }
}

@keyframes shimmer {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}

.el-absolute {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.width {
  &-auto {
    width: auto;
  }
  &-full {
    width: 100%;
  }
  &-dvw {
    width: 100dvw;
  }
  &-xl {
    width: $space-xl;
  }
  &-p20 {
    width: 20%;
  }
  &-p30 {
    width: 30%;
  }
  &-p50 {
    width: 50%;
  }
  &-p70 {
    width: 70%;
  }
  &-p90 {
    width: 90%;
  }
  &-25 {
    width: 25px;
  }
  &-50 {
    width: 50px;
  }
  &-70 {
    width: 70px;
  }
  &-100 {
    width: 100px;
  }
  &-150 {
    width: 150px;
  }
  &-200 {
    width: 200px;
  }
  &-300 {
    width: 300px;
  }
}

.height {
  &-auto {
    height: auto !important;
  }
  &-dvh {
    height: 100dvh;
  }
  &-xl {
    height: $space-xl;
  }
  &-full {
    height: 100%;
  }
  &-25 {
    height: 25px;
  }
  &-50 {
    height: 50px;
  }
  &-70 {
    height: 70px;
  }
  &-150 {
    height: 150px;
  }
  &-200 {
    height: 200px;
  }
  &-300 {
    height: 300px;
  }
}

.min {
  &-width {
    &-xl {
      min-width: $space-xl;
    }
    &-40 {
      min-width: 40px !important;
    }
    &-50 {
      min-width: 50px !important;
    }
    &-70 {
      min-width: 70px;
    }
    &-90 {
      min-width: 90px;
    }
    &-150 {
      min-width: 150px;
    }
    &-200 {
      min-width: 200px;
    }
    &-300 {
      min-width: 300px !important;
    }
  }
  &-height {
    &-40 {
      min-height: 40px;
    }
    &-50 {
      min-height: 50px;
    }
    &-70 {
      min-height: 70px;
    }
    &-200 {
      min-height: 200px;
    }
    &-dvh {
      min-height: 100dvh;
    }
  }
}

.max {
  &-width {
    &-50 {
      max-width: 50px !important;
    }
    &-70 {
      max-width: 70px;
    }
    &-200 {
      max-width: 200px;
    }
    &-250 {
      max-width: 250px;
    }
    &-300 {
      max-width: 300px;
    }
    &-400 {
      max-width: 400px;
    }
    &-600 {
      max-width: 600px;
    }
    &-800 {
      max-width: 800px;
    }
    &-1800 {
      max-width: 1800px;
    }
    &-per50 {
      max-width: 50%;
    }
  }
  &-height {
    &-xl {
      max-height: $space-xl;
    }
    &-25 {
      max-height: 25px;
    }
    &-40 {
      max-height: 40px;
    }
    &-70 {
      max-height: 70px;
    }
    &-80 {
      max-height: 80px;
    }
    &-100 {
      max-height: 100px;
    }
    &-200 {
      max-height: 200px;
    }
    &-300 {
      max-height: 300px;
    }
    &-400 {
      max-height: 400px;
    }
    &-cover-header {
      max-height: calc(100dvh - $height-header);
    }
  }
}

a {
  text-decoration: none;
  transition: 0.4s;
}

.white {
  color: $cl-white;
}

.black {
  color: $cl-black;
}

body .bg {
  &-primary {
    background-color: $cl-primary !important;
    color: inherit !important;
    &-50 {
      background-color: rgba($cl-primary, 0.5);
    }
  }
  &-third {
    background-color: $cl-third;
  }
  &-four {
    background-color: $cl-four;
  }
  &-white {
    background-color: $cl-white;
    &-20 {
      background-color: rgba($cl-white, 0.2);
    }
    &-70 {
      background-color: rgba($cl-white, 0.7);
    }
  }
  &-black {
    background-color: $cl-black;
    &-20 {
      background-color: rgba($cl-black, 0.2);
    }
    &-40 {
      background-color: rgba($cl-black, 0.4);
    }
    &-70 {
      background-color: rgba($cl-black, 0.7);
    }
  }
  &-black2 {
    background-color: $cl-black2;
  }
  &-gradient-1 {
    background: $cl-gradient-1;
  }
  &-gradient-2 {
    background: $cl-gradient-2;
  }
  &-gray {
    background-color: $cl-gray;
  }
  &-gray2 {
    background-color: $cl-gray2;
  }
  &-gray6 {
    background-color: $cl-gray6;
  }
  &-gray7 {
    background-color: $cl-gray7;
  }
  &-transparent {
    background-color: transparent !important;
  }
  &-freeship {
    background-color: $cl-freeship-bg;
  }
}

.heading {
  margin: 0;
  padding: 0;
}

.heading-xs {
  font-size: 0.75rem; /* 12px */
  line-height: 1rem; /* 16px */
}

.heading-sm {
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
}

.heading-md {
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
}

.heading-lg {
  font-size: 1.125rem; /* 18px */
  line-height: 1.75rem; /* 28px */
}

.heading-xl {
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
}

.heading-2xl {
  font-size: 2.6em; /* 24px */
  line-height: 3.2rem; /* 32px */
}

.heading-icon {
  margin-left: 0.5rem;
}

.button {
  border: 1px solid $cl-gray4;
  border-radius: $rd-lg;
  background-color: $cl-gray;
  color: $cl-text;
  display: inline-flex;
  align-items: center;
  text-transform: capitalize;
  justify-content: center;
  position: relative;
  font-weight: 600;
  padding: 0 24px;
  transition: 0.3s all;
  min-width: $space-xl;
  height: $space-xl;
  line-height: 1;
  text-align: center;
  font-family: $font-base;
  &-shadow {
    box-shadow: 0px 0px 0px 1px #d4d4d4;
    box-shadow: 0px 1px 0px 0px #ffffff54 inset;
    box-shadow: 0px 3px 4px -1px #00000026;
  }
  &-primary, &-primary[type=submit] {
    background-color: $cl-primary;
    border-color: $cl-primary;
    color: $cl-white;
  }
  &-secondary {
    background-color: $cl-white;
    border-color: $cl-gray2;
    &:hover,
    &.active {
      background-color: $cl-gray;
      border-color: $cl-gray3;
    }
  }
  &-third {
    background-color: transparent;
    border-color: rgb(255 255 255 / 40%);
    color: $cl-white;
  }
  &-black {
    background: #333;
    color: $cl-white !important;
    border-color: $cl-text;
    &.button-shadow {
      box-shadow: 0px 2px 4px -1px #0d0d0d80;
    }
  }
  &-gray {
    background-color: $cl-gray2;
    border-color: $cl-gray3;
    &:hover {
      background-color: $cl-gray;
      border-color: $cl-gray4;
    }
  }
  &-blur {
    background-color: $cl-blur2;
    border-color: rgb(18 18 18 / 3%);
    color: $cl-white;
  }
  &-danger {
    color: $cl-primary;
    background-color: rgba($cl-primary, 0.2);
    border: none;
  }
  &-transparent {
    background-color: transparent;
    border: none;
    color: $cl-white;
  }
  &-icon {
    margin-right: 6px;
  }
  &-size {
    &-lg {
      font-size: $fz-large;
      font-weight: 600;
      height: 66px;
      padding: 0 2rem;
      border-radius: 1.5rem;
      .button-icon {
        font-size: $fz-xl !important;
      }
    }
    &-sm {
      height: $space-lg;
      min-width: $space-lg;
      border-radius: 10px;
      padding: 0 1rem;
      .button-icon {
        font-size: $fz-large !important;
      }
    }
    &-xs {
      height: $space-md;
      min-width: $space-md;
      border-radius: $rd-md;
      padding: 0 $space-sm;
      .button-icon {
        font-size: $fz-normal !important;
      }
    }
  }
  &-border-none {
    border-color: transparent !important;
  }
  &-no-text {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    .button-icon {
      margin-right: 0;
    }
  }
  &-disabled {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.7;
  }
  &-spinner {
    animation: spin 0.6s linear infinite;
    width: 20px;
    height: 20px;
    .path {
      stroke: white;
      stroke-linecap: round;
      stroke-dasharray: 90, 150;
      stroke-dashoffset: 0;
    }
  }
  &-upload-file {
    position: relative;
    .v-input {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 1;
      opacity: 0;
      cursor: pointer;
    }
  }
  &-control {
    &-checkbox {
      .v-selection-control {
        min-height: inherit !important;
      }
      .v-selection-control__wrapper {
        display: none;
      }
      .v-selection-control--dirty {
        .button {
          background-color: $cl-black;
          color: $cl-white;
        }
      }
    }
    &-radiobox {
      .v-selection-control {
        min-height: inherit !important;
      }
      .v-selection-control__wrapper {
        opacity: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
      }
      .v-selection-control--dirty {
        .button {
          background-color: $cl-black2;
          color: $cl-white;
        }
      }
    }
    &-variant {
      .v-selection-control--disabled {
        &::before, &::after {
          content: '';
          border: 1px dashed $cl-gray4;
          position: absolute;
          top: 50%;
          left: 0;
          width: 100%;
          z-index: 1;
        }
        &::before {
          rotate: 16deg;
        }
        &::after {
          rotate: -16deg;
        }
      }
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.pd {
  &-0 {
    padding: 0 !important;
  }
  &-05 {
    padding: 0.5rem !important;
  }
  &-xs {
    padding: $space-xs;
  }
  &-sm {
    padding: $space-sm;
  }
  &-ms {
    padding: $space-ms;
  }
  &-lg {
    padding: $space-lg !important;
  }
  &-md {
    padding: $space-md;
  }
}

.pt {
  &-0 {
    padding-top: 0 !important;
  }
  &-05 {
    padding-top: 0.5rem !important;
  }
  &-xs {
    padding-top: $space-xs !important;
  }
  &-sm {
    padding-top: $space-sm !important;
  }
  &-ms {
    padding-top: $space-ms !important;
  }
  &-md {
    padding-top: $space-md !important;
  }
  &-lg {
    padding-top: $space-lg !important;
  }
  &-xl {
    padding-top: $space-xl !important;
  }
  &-section {
    padding-top: $space-md !important;
    @media (min-width: 1025px) {
      padding-top: 2.5rem !important;
    }
  }
}

.pb {
  &-0 {
    padding-bottom: 0 !important;
  }
  &-05 {
    padding-bottom: 0.5rem !important;
  }
  &-sm {
    padding-bottom: $space-sm !important;
  }
  &-xs {
    padding-bottom: $space-xs !important;
  }
  &-md {
    padding-bottom: $space-md !important;
  }
  &-ms {
    padding-bottom: $space-ms !important;
  }
  &-lg {
    padding-bottom: $space-lg !important;
  }
  &-xl {
    padding-bottom: $space-xl !important;
  }
  &-3xl {
    padding-bottom: 5rem !important;
  }
  &-section {
    padding-bottom: $space-md !important;
    @media (min-width: 1025px) {
      padding-bottom: 2.5rem !important;
    }
  }
}

.pl {
  &-0 {
    padding-left: 0 !important;
  }
  &-xs {
    padding-left: $space-xs !important;
  }
  &-sm {
    padding-left: $space-sm !important;
  }
  &-md {
    padding-left: $space-md !important;
  }
  &-lg {
    padding-left: $space-lg !important;
  }
  &-ms {
    padding-left: $space-ms !important;
  }
  &-xl {
    padding-left: $space-xl !important;
  }
  &-section {
    padding-left: $space-md !important;
  }
}

.pr {
  &-0 {
    padding-right: 0 !important;
  }
  &-xs {
    padding-right: $space-xs !important;
  }
  &-sm {
    padding-right: $space-sm !important;
  }
  &-md {
    padding-right: $space-md !important;
  }
  &-lg {
    padding-right: $space-lg !important;
  }
  &-ms {
    padding-right: $space-ms !important;
  }
  &-xl {
    padding-right: $space-xl !important;
  }
  &-section {
    padding-right: $space-md !important;
  }
}

.mb {
  &-0 {
    margin-bottom: 0 !important;
  }
  &-05 {
    margin-bottom: 0.5rem !important;
  }
  &-xs {
    margin-bottom: $space-xs !important;
  }
  &-sm {
    margin-bottom: $space-sm !important;
  }
  &-ms {
    margin-bottom: $space-ms !important;
  }
  &-md {
    margin-bottom: $space-md !important;
    &-cover {
      margin-bottom: -$space-md !important;
    }
  }
  &-lg {
    margin-bottom: $space-lg !important;
  }
  &-xl {
    margin-bottom: $space-xl !important;
  }
}
.mt {
  &-0 {
    margin-top: 0 !important;
  }
  &-xs {
    margin-top: $space-xs !important;
  }
  &-sm {
    margin-top: $space-sm !important;
  }
  &-ms {
    margin-top: $space-ms !important;
  }
  &-md {
    margin-top: $space-md !important;
  }
  &-lg {
    margin-top: $space-lg !important;
  }
  &-xl {
    margin-top: $space-xl !important;
  }
}
.ml {
  &-0 {
    margin-left: 0 !important;
  }
  &-xs {
    margin-left: $space-xs !important;
  }
  &-sm {
    margin-left: $space-sm !important;
  }
  &-ms {
    margin-left: $space-ms !important;
  }
  &-md {
    margin-left: $space-md !important;
  }
  &-lg {
    margin-left: $space-lg !important;
  }
  &-xl {
    margin-left: $space-xl !important;
  }
}

.mr {
  &-0 {
    margin-right: 0 !important;
  }
  &-xs {
    margin-right: $space-xs !important;
  }
  &-sm {
    margin-right: $space-sm !important;
  }
  &-ms {
    margin-right: $space-ms !important;
  }
  &-md {
    margin-right: $space-md !important;
  }
  &-lg {
    margin-right: $space-lg !important;
  }
  &-xl {
    margin-right: $space-xl !important;
  }
}

.mg-0 {
  margin: 0 !important;
}

.m-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.rd {
  &-sm {
    border-radius: $rd-sm;
  }
  &-md {
    border-radius: $rd-md;
  }
  &-lg {
    border-radius: $rd-lg;
  }
  &-xs {
    border-radius: $rd-xs;
  }
  &-xl {
    border-radius: $rd-xl;
  }
  &-xxl {
    border-radius: $rd-xxl;
  }
  &-full {
    border-radius: 50%;
  }
  &-null {
    &-top {
      &-left {
        border-top-left-radius: 0 !important;
      }
      &-right {
        border-top-right-radius: 0 !important;
      }
    }
    &-bottom {
      &-left {
        border-bottom-left-radius: 0 !important;
      }
      &-right {
        border-bottom-right-radius: 0 !important;
      }
    }
  }
}

.text {
  &-limit {
    display: -webkit-box !important;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    &-2 {
      -webkit-line-clamp: 2;
    }
    &-3 {
      -webkit-line-clamp: 3;
    }
    &-4 {
      -webkit-line-clamp: 4;
    }
  }
  &-color {
    &-black {
      color: $cl-black;
    }
    &-white {
      color: $cl-white;
    }
    &-title {
      color: $cl-text;
    }
    &-primary {
      color: $cl-primary !important;
    }
    &-third {
      color: $cl-third;
    }
    &-danger {
      color: $cl-danger;
    }
    &-green {
      color: green;
    }
    &-gray {
      color: $cl-gray;
    }
    &-gray2 {
      color: $cl-gray2;
    }
    &-gray4 {
      color: $cl-gray4 !important;
    }
    &-gray5 {
      color: $cl-gray5 !important;
    }
    &-gray8 {
      color: $cl-gray8;
    }
     &-freeship {
      color: $cl-freeship-text;
    }
  }
  &-size {
    &-xs {
      font-size: $fz-xs;
    }
    &-base {
      font-size: $fz-base;
    }
    &-normal {
      font-size: $fz-normal;
    }
    &-md {
      font-size: $fz-medium;
    }
    &-lg {
      font-size: $fz-large;
    }
    &-lg-2 {
      font-size: $fz-large-2;
    }
    &-xl {
      font-size: $fz-xl;
    }
    &-xxl {
      font-size: $fz-xxl;
    }
  }
  &-line-through {
    text-decoration: line-through;
  }
  &-uppercase {
    text-transform: uppercase;
  }
  &-underline{
    text-decoration: underline;
  }
  &-hover {
    &-primary:hover {
      color: $cl-primary !important;
    }
  }
}

.weight {
  &-light {
    font-weight: 300;
  }
  &-normal {
    font-weight: 400;
  }
  &-medium {
    font-weight: 500;
  }
  &-semibold {
    font-weight: 600;
  }
  &-bold {
    font-weight: 700;
  }
}

.line-height {
  &-1 {
    line-height: 1;
  }
  &-1d2 {
    line-height: 1.2;
  }
  &-1d4 {
    line-height: 1.4;
  }
  &-1d6 {
    line-height: 1.6;
  }
  &-1d8 {
    line-height: 1.8;
  }
  &-2 {
    line-height: 2;
  }
}

.shadow {
  &-1 {
    box-shadow: $cl-shadow-1;
  }
  &-2 {
    box-shadow: $cl-shadow-2;
  }
}

.transition {
  &-0d3 {
   transition: 0.3s all; 
  }
}

.rotate {
  &-90 {
    rotate: 90deg;
  }
}

.card {
  &-size {
    &-xs {
      padding: $space-xs;
    }
    &-sm {
      padding: $space-ms;
    }
    &-md {
      padding: $space-md;
    }
    &-lg {
      padding: $space-lg;
    }
  }
  &-border {
    border: 1px solid $cl-gray2;
  }
}

.overflow {
  &-inherit {
    overflow: inherit !important;
  }
  &-hidden {
    overflow: hidden;
  }
  &-hidden-x {
    overflow-x: hidden;
  }
  &-auto {
    overflow: auto;
    &-y {
      overflow-y: auto;
    }
    &-x {
      overflow-x: auto;
    }
  }
  &-cover-header {
    overflow-y: auto;
    height: calc(100dvh - $height-header);
  }
}

.object-fit {
  &-cover {
    object-fit: cover;
  }
  &-contain {
    object-fit: contain;
  }
}

.filter-brightness {
  filter: brightness(0) invert(1);
}

.aspect-ratio {
  &-1p1 {
    aspect-ratio: 1 / 1;
  }
}

.list-disc {
  list-style-type: disc;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 1;
  &-cover-header {
    top: $height-header;
  }
}

.white-space {
  white-space: nowrap;
}

.white-space-pre {
  white-space: pre-line;
}

.w-full {
  width: 100%;
}

.block {
  display: block;
}

.cursor-pointer {
  cursor: pointer;
}

.visibility {
  &-hidden {
    visibility: hidden;
  }
}

.border {
  &-bottom {
    &-default {
      border-bottom: 1px solid $cl-gray6;
    }
    &-dashed {
      border-bottom: 1px dashed $cl-gray6;
    }
    &-none {
      border-bottom: none !important;
    }
  }
  &-left {
    &-default {
      border-left: 1px solid $cl-gray6;
    }
  }
  &-right {
    &-default {
      border-right: 1px solid $cl-gray6;
    }
  }
  &-default {
    border: 1px solid $cl-gray2;
  }
  &-color {
    &-gray {
      border-color: $cl-gray;
    }
    &-gray2 {
      border-color: $cl-gray2;
    }
    &-gray3 {
      border-color: rgba(255, 255, 255, 0.4);
    }
    &-gray8 {
      border-color: $cl-gray8;
    }
  }
}

.z-index {
  &-1 {
    z-index: 1;
  }
  &-2 {
    z-index: 2;
  }
  &-3 {
    z-index: 3;
  }
  &-4 {
    z-index: 4;
  }
  &-12 {
    z-index: 12;
  }
  &-13 {
    z-index: 13;
  }
}

.opacity {
  &-0 {
    opacity: 0;
  }
  &-1 {
    opacity: 1;
  }
  &-per30 {
    opacity: 0.3;
  }
  &-per40 {
    opacity: 0.4;
  }
  &-per50 {
    opacity: 0.5;
  }
}

.position {
  &-relative {
    position: relative;
  }
  &-absolute {
    position: absolute;    
  }
  &-sticky {
    position: sticky;
  }
  &-fixed {
    position: fixed;
  }
}

.top {
  &-full {
    top: 100%;
  }
  &-0 {
    top: 0 !important;
  }
  &-05 {
    top: 0.5rem !important;
  }
  &-1 {
    top: 1rem !important;
  }
  &-xs {
    top: $space-xs !important;
  }
  &-sm {
    top: $space-sm !important;
  }
  &-cover-header {
    top: $height-header;
  }
}

.bottom {
  &-0 {
    bottom: 0 !important;
  }
  &-05 {
    bottom: 0.5rem !important;
  }
  &-1 {
    bottom: 1rem !important;
  }
  &-xs {
    bottom: $space-xs !important;
  }
  &-sm {
    bottom: $space-sm !important;
  }
}

.right {
  &-0 {
    right: 0 !important;
  }
  &-05 {
    right: 0.5rem !important;
  }
  &-1 {
    right: 1rem !important;
  }
  &-xs {
    right: $space-xs !important;
  }
  &-sm {
    right: $space-sm !important;
  }
}

.left {
  &-0 {
    left: 0 !important;
  }
  &-05 {
    left: 0.5rem !important;
  }
  &-1 {
    left: 1rem !important;
  }
  &-xs {
    left: $space-xs !important;
  }
  &-sm {
    left: $space-sm !important;
  }
}



.disable {
  cursor: not-allowed;
  opacity: 0.5;
}

.pointer-events {
  pointer-events: none;
}

.shape-loading {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255 255 255 / 50%);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex {
  display: flex;
  &-1 {
    flex: 1;
  }
  &-wrap {
    flex-wrap: wrap;
    &-no {
      flex-wrap: nowrap;
    }
  }
  &-direction-column {
    flex-direction: column;
  }
  &-direction-row {
    flex-direction: row !important;
  }
  &-none {
    flex: none !important;
  }
}

.justify {
  &-start {
    justify-content: start;
  }
  &-center {
    justify-content: center;
  }
  &-end {
    justify-content: end;
  }
  &-between {
    justify-content: space-between;
  }
  &-evenly {
    justify-content: space-evenly;
  }
}

.align {
  &-anchor {
    align-items: anchor-center;
  }
  &-start {
    align-items: flex-start;
  }
  &-center {
    align-items: center;
  }
  &-baseline {
    align-items: baseline;
  }
  &-end {
    align-items: flex-end;
  }
  &-content-center {
    align-content: center;
  }
}

.gap {
  &-xs {
    gap: $space-xs;
  }
  &-sm {
    gap: $space-sm;
  }
  &-ms {
    gap: $space-ms;
  }
  &-md {
    gap: $space-md;
  }
  &-lg {
    gap: $space-lg;
  }
  &-xl {
    gap: $space-xl;
  }
}

.order {
  &-1 {
    order: 1;
  }
  &-2 {
    order: 2;
  }
}

.transform {
  &-scale {
    &-0 {
      transform: scale(0)
    }
    &-1 {
      transform: scale(1)
    }
  }
}

.hover {
  &-visible {
    &-overlay {
      &:hover &-el, &.active &-el {
        opacity: 1;
        visibility: visible;
      }
      &-el {
        opacity: 0;
        visibility: hidden;
        transition: 0.3s all;
      }
    }
  }
  &-color {
    &-primary:hover {
      color: $cl-primary !important;
    }
  }
  &-scale:hover {
    transform: scale(1.2)
  }
  &-underline:hover {
    text-decoration: underline;
  }
}

.portal {
  &-control {
    &-item {
      position: relative;
      margin-bottom: $space-md;
    }
    &-error {
      color: $cl-danger;
      font-size: 12px;
      position: absolute;
      bottom: -22px;
      right: 0;
    }
    &-label {
      display: block;
      margin-bottom: $space-sm;
      &-required {
        color: $cl-danger;
      }
    }
  }

  &-radio-box {
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    outline: none;
    content: none;
    border: none;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 1px solid $cl-gray3;
    position: relative;
    top: 4.5px;
    margin-left: 0;
    &-label {
      margin-left: 8px;
    }
  }
  &-radio-box:checked {
    border: 1px solid $cl-primary;
  }
  &-radio-box:checked:before {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: $cl-primary;
    position: absolute;
    top: 3px;
    left: 3px;
  }

  &-popup {
    &-main,
    &-center {
      background-color: $cl-white;
      position: fixed;
      top: 0;
      right: 0;
      width: 100%;
      height: 100dvh;
      z-index: 114;
      -webkit-transform: translateY(100%);
      transform: translateY(100%);
      -webkit-transition: -webkit-transform 0.5s ease;
      transition: -webkit-transform 0.5s ease;
      transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    }
    &-header {
      background-color: $cl-white;
      color: $cl-black;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 12px;
      min-height: 60px;
      &-actions {
        position: absolute;
        right: 1rem;
      }
      .button {
        border-radius: 50%;
      }
    }
    &-body {
      overflow-y: auto;
      height: calc(100dvh - 60px);
      padding: 1rem;
      &.fixed {
        .portal-popup-footer {
          position: sticky;
          bottom: -1rem;
          left: 0;
          margin: 0 -1rem -1rem -1rem;
          min-width: 100%;
          padding: 1rem;
          background-color: $cl-white;
          z-index: 2;
        }
        .portal-popup-box {
          padding-bottom: 1rem;
        }
      }
    }
    &-close {
      position: absolute;
      left: 0;
      margin-left: 1rem;
    }
    &-shape {
      background-color: $cl-black;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      opacity: 0;
      visibility: hidden;
      transition: 0.5s all;
      z-index: 113;
    }

    &.active &-main,
    &.active &-center {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    &.active &-shape {
      opacity: 0.5;
      visibility: visible;
    }
    &-children {
      &.active {
        .portal-popup-main,
        .portal-popup-center {
          z-index: 116;
        }
        .portal-popup-shape {
          z-index: 115;
        }
      }
    }
    &-center {
      background-color: transparent;
      &.center {
        align-content: center;
        .portal-popup-center {
          &-body {
            width: calc(100% - 2rem);
          }
        }
      }
      &.bottom {
        align-content: flex-end;
        .portal-popup-header-actions {
          top: 1rem;
        }
        .portal-popup-center {
          &-body {
            border-radius: $rd-xxl $rd-xxl 0 0;
            max-height: 90%;
          }
        }
        .portal-popup-footer {
          position: sticky;
        }
        .portal-popup-center-body {
          &.fixed .portal-popup-footer {
            position: sticky;
            bottom: 0;
            left: 0;
            min-width: 100%;
            padding: 1rem;
            background-color: $cl-white;
            z-index: 2;
          }
        }
      }
      &.top {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
        align-content: flex-start;
        .portal-popup-center {
          &-body {
            border-radius: 0 0 $rd-xxl $rd-xxl;
          }
        }
      }
      &-body {
        padding: 1rem;
        border-radius: $rd-xxl;
        width: 100%;
        max-width: 800px;
        background-color: $cl-white;
        margin: 0 auto;
        position: relative;
        overflow-y: auto;
      }
      &-close {
        position: absolute;
        left: 1rem;
        top: 1rem;
      }
    }
    &-badge {
      width: 50px;
      height: 4px;
      border-radius: 30px;
      background-color: $cl-gray4;
      position: absolute;
      top: 0.75rem;
      left: 0;
      right: 0;
      margin: 0 auto;
      z-index: 1;
    }
  }

  &-textarea {
    background-color: $cl-gray;
    color: $cl-text;
    width: 100%;
    border-radius: $rd-lg;
    border: 1px solid $cl-gray;
    padding: 1rem $space-md 0 $space-md;
    margin-bottom: -7px;
    font-size: $fz-base;
    font-family: $font-base;
    outline: none;
    transition: 0.3s all;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  &-ckeditor {
    .v-input__details {
      padding-left: 16px;
    }
    .ck-toolbar {
      border-radius: $rd-lg $rd-lg 0 0 !important;
    }
    .ck-content {
      border-radius: 0 0 $rd-lg $rd-lg !important;
      min-height: 120px;
    }
    .ck-toolbar,
    .ck-content {
      border-color: $cl-gray !important;
    }
  }

  @media (min-width: 1025px) {
    &-popup {
      &-main {
        top: 20px;
        width: 640px;
        max-width: calc(50vw - 40px);
        height: calc(100dvh - 40px);
        border-radius: $rd-xl;
        overflow: hidden;
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        &.full-screen {
          width: 100%;
          max-width: calc(100vw - 40px);
          .portal-popup-header {
            justify-content: center;
          }
        }
      }
      &-header {
        max-height: 70px;
        min-height: 70px;
        padding: 25px 1.5rem 25px 80px;
        justify-content: flex-start;
        &-actions {
          right: 1.5rem;
        }
      }
      &-body {
        height: calc(100% - 70px);
        padding: 1.5rem;
        &.fixed {
          .portal-popup-footer {
            bottom: -1.5rem;
            margin: 0 -1.5rem -1.5rem -1.5rem;
            padding: 1rem 1.5rem;
          }
          .portal-popup-box {
            padding-bottom: 1.5rem;
          }
        }
      }
      &-close {
        margin-left: 0;
        left: 1.5rem;
      }
      &.active &-main {
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px);
      }
      &-children {
        &.active {
          .portal-popup-main {
            transform: translateX(calc(-50vw - 10px));
          }
        }
      }
    }
  }
  @media (min-width: 1800px) {
    &-popup {
      &-children {
        &.active {
          .portal-popup-main {
            transform: translateX(-680px);
          }
        }
      }
    }
  }
}

.portal-input {
  background-color: $cl-gray;
  color: $cl-text;
  width: 100%;
  border-radius: $rd-lg;
  border: 1px solid $cl-gray;
  height: 56px;
  line-height: 54px;
  padding: 0 $space-md;
  font-size: $fz-base;
  font-family: $font-base;
  outline: none;
  transition: 0.3s all;
  -webkit-appearance: none;
  -moz-appearance: none;
  &-icon-right {
    position: absolute;
    right: $space-md;
    top: 50%;
    transform: translateY(-50%);
    color: $cl-text;
    font-size: $fz-large;
    cursor: pointer;
  }
  &-error {
    border-color: $cl-danger;
  }
}

.search-input {
  position: relative;
  &-cancel {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    cursor: pointer;
    padding-right: 8px;
  }
  .v-input__details {
    position: absolute;
    width: 100%;
  }
}

.control-image {
  &-item {
    border: 1px solid $cl-gray7;
    border-radius: $rd-lg;
    background-color: $cl-gray2;
    overflow: hidden;
    position: relative;
    transition: 0.3s all;
    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        to top,
        rgb(18 18 18 / 50%),
        rgb(255 255 255 / 20%)
      );
      opacity: 0;
      transition: 0.3s all;
      z-index: 1;
    }
    &:hover {
      border-color: $cl-white;
      &:before {
        opacity: 1;
      }
      .control-image-content,
      .control-image-actions {
        opacity: 1;
      }
    }
  }
  &-src {
    width: 100%;
    padding-top: 100%;
    position: relative;
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: contain;
      top: 0;
      left: 0;
      max-width: 0 auto;
    }
  }
  &-content {
    color: $cl-white;
    font-size: $fz-xs;
    transition: 0.3s all;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0.5rem;
    opacity: 0;
    z-index: 2;
    &-label {
      display: block;
    }
  }
  &-actions {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    z-index: 2;
    opacity: 0;
    transition: 0.3s all;
  }
}

.thumbnail-edit {
  border-radius: $rd-lg;
  padding: $space-sm;
  border: 1px dashed $cl-gray4;
  &-icon {
    width: 60px;
    height: 60px;
    line-height: 60px !important;
    font-size: $fz-xl !important;
    color: $cl-primary !important;
    display: block !important;
    margin: 0 auto;
    background-color: $cl-gray2;
    border-radius: 50%;
  }
  img {
    background-color: $cl-gray2;
    border-radius: $rd-lg;
    max-width: 320px;
    margin: 0 auto $space-sm auto;
  }
  .v-input__details {
    min-height: 0 !important;
    padding-inline: 0 !important;
    margin-bottom: -12px;
  }
  &.fullScreen {
    img {
      max-width: 100%;
    }
  }
}

.avatar-src {
  width: $space-xl;
  height: $space-xl;
  border-radius: 50%;
  border: 1px solid $cl-gray2;
  object-fit: cover;
  align-content: center;
  background-color: $cl-white;
}

.avatar-edit {
  margin: 0 auto;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  &-text {
    background-color: rgb(0 0 0 / 50%);
    color: $cl-white;
    position: absolute;
    bottom: 0;
    text-align: center;
    padding: 0.5rem 0 0.75rem 0;
    width: 100%;
    line-height: 1;
    font-weight: 600;
    cursor: pointer;
  }
  .v-file-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    display: block;
    z-index: 1;
    .v-field {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    .v-input__control {
      height: 100%;
      display: block;
    }
  }
  .imagePreview {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  img {
    background-color: $cl-gray2;
    width: 100%;
    object-fit: cover;
    height: 100%;
  }
}

.scroll {
  &-color {
    @media (min-width: 1025px) {
      &::-webkit-scrollbar {
        width: 7px;
        height: 7px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: $cl-gray4;
        border-radius: 7px;
        -webkit-box-shadow: inset 0 0 0 rgb(0 0 0 / 30%);
      }
      &::-webkit-scrollbar-track {
        background-color: $cl-white;
        border-radius: 7px;
      }
    }
  }
  &-hide {
    overflow-y: auto;
    &::-webkit-scrollbar {
      display: none;
      height: 0;
    }
  }
}

.loader {
  position: fixed;
  text-align: center;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  transition: 1.5s all;
  z-index: 999;
}
.loader.active {
  opacity: 0.7;
  visibility: visible;
  transition: 1.5s all;
}
.loader-icon {
  height: 80px;
  aspect-ratio: 1;
  padding: 8px;
  border-radius: 50%;
  box-sizing: border-box;
  position: relative;
  mask: conic-gradient(#000 0 0) content-box exclude, conic-gradient(#000 0 0);
  filter: blur(12px);
}
.loader-icon:before {
  content: "";
  position: absolute;
  inset: 0;
  background: conic-gradient(#0000 35%, #ffffff, #0000 85%);
  animation: l1 1s linear infinite;
}
@keyframes l1 {
  to {
    rotate: 1turn;
  }
}

.first-loader {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  background-color: $cl-primary;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  &-logo {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    flex-direction: column;
    gap: 2rem;
    font-size: 3em;
    line-height: 1.4;
    font-weight: 600;
    img {
      width: 200px;
      height: auto;
    }
  }
  &.active {
    animation: body-load-effect 1s forwards;
    .first-loader-logo {
      animation: logo-load 1s forwards;
    }
  }
}
@keyframes body-load-effect {
  0% {
    opacity: 100%;
    z-index: 1000;
  }
  75% {
    opacity: 100%;
    z-index: 1000;
  }
  100% {
    opacity: 0;
    z-index: -100;
  }
}
@keyframes logo-load {
  0% {
    transform: scale(1.05);
  }
  60% {
    transform: scale(1);
    opacity: 1;
  }
  80% {
    transform: scale(0.6);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

body .swiper {
  &-button {
    &-prev, &-next {
      border-radius: 50%;
      background-color: $cl-black2;
      color: $cl-white;
      transition: 0.3s all;
      height: 2rem;
      min-width: 2rem;
      width: 2rem;
      &.swiper-button-disabled {
        opacity: 1;
        background-color: $cl-gray;
        color: $cl-black;
      }
      &:after {
        font-size: $fz-base;
      }
    }
  }
  &-pagination {
    &-bullet {
      &-active {
        background: $cl-primary !important;
      }
    }
  }
}

@media (max-width: 1024px) {
  .isLaptop {
    display: none !important;
  }
}

@media (min-width: 1025px) {
  .isMobileTable {
    display: none !important;
  }
}

.ck-editor__editable {
  max-height: 500px !important;
}



// vuetify custom
.v-infinite-scroll__side {
  padding: 0 !important;
  &:last-child {
    width: 100%;
    text-align: center;
  }
}
.hide-side .v-infinite-scroll__side {
  display: none !important;
}
.v-switch {
  margin-top: $space-sm;
  .v-selection-control {
    min-height: 0 !important;
  }
}
.v-switch__track {
  background-color: $cl-gray4 !important;
}
.v-selection-control--dirty {
  .v-switch__track {
    background-color: $cl-success !important;
    opacity: 1;
  }
}
.input-date-custom {
  input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    right: -5px;
    opacity: 0;
    z-index: 1;
    font-size: 30px;
  }
  .v-field__append-inner {
    position: absolute;
    top: 11px;
    right: 0;
  }
}

.v-field--disabled {
  opacity: 0.7 !important;
}

.v-text-field {
  position: relative;
  .v-field {
    font-size: $fz-base;
  }
  .v-label {
    color: $cl-text;
  }
  .v-input__append {
    position: absolute;
    right: 10px;
    top: 11px;
    margin: 0;
    i {
      font-size: $fz-large !important;
    }
  }
  input:-webkit-autofill,
  input:-webkit-autofill:focus {
    box-shadow: 0 0 0px 1000px $cl-white inset !important;
    border: 1px solid $cl-gray !important;
    border-radius: $rd-lg !important;
  }
}
.v-field--variant-outlined .v-field__outline__start,
.v-field--variant-outlined .v-field__outline__notch::before,
.v-field--variant-outlined .v-field__outline__notch::after,
.v-field--variant-outlined .v-field__outline__end {
  border-color: $cl-gray !important;
  opacity: 1 !important;
}
.v-field__outline {
  --v-field-border-width: 1px !important;
}
.v-field--variant-outlined.v-field--focused .v-field__outline * {
  border-color: $cl-gray5 !important;
}
.v-field__input {
  min-height: $space-xl !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  font-size: $fz-base !important;
}
.v-textarea textarea {
  padding-top: 1rem !important;
  mask-image: none !important;
}
.v-field__overlay,
.v-field-date-filter {
  background-color: $cl-gray2 !important;
  opacity: 1 !important;
  border: 1px solid $cl-gray6 !important;
  border-radius: $rd-lg !important;
}
.v-field--variant-outlined,
.v-field--variant-solo {
  .v-field__overlay {
    background-color: $cl-white !important;
    border: 1px solid $cl-gray2 !important;
  }
}
.v-field--variant-solo,
.v-field--variant-solo-filled {
  box-shadow: none !important;
}
.v-input--density-default
  .v-field--variant-solo
  .v-label.v-field-label--floating {
  top: 11px !important;
}
.v-input--dirty .v-field--variant-solo .v-label.v-field-label--floating {
  opacity: 0 !important;
}
.v-field__outline {
  opacity: 0 !important;
}
.v-input__details {
  min-height: 24px !important;
  padding-top: 4px !important;
  align-items: flex-start !important;
}
.v-text-field .v-field--variant-filled .v-label.v-field-label--floating,
.v-input--dirty.v-select--selected
  .v-field--variant-filled
  .v-label.v-field-label--floating,
.v-file-input .v-field--variant-filled .v-label.v-field-label--floating {
  opacity: 0;
}
.v-file-input {
  position: relative;
  .v-input__prepend {
    position: absolute;
    left: auto;
    right: 10px;
    top: 11px;
    margin-inline-end: 0 !important;
    grid-area: auto !important;
    z-index: 1;
    i {
      font-size: $fz-large !important;
    }
  }

  .v-field__clearable {
    margin-right: 1rem !important;
  }
}
.v-select--selected .v-field--variant-filled .v-label.v-field-label--floating {
  // opacity: 1;
  font-size: $fz-base !important;
  top: 11px !important;
}

.v-text-field__prefix,
.v-text-field__suffix {
  min-height: $space-xl !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.v-field-date-filter .v-field__overlay {
  border-color: transparent !important;
}

.v-selection-control__input .mdi-radiobox-marked::before {
  color: $cl-primary;
}
.v-overlay__content {
  border-radius: $rd-xl !important;
  background-color: transparent !important;
  box-shadow: rgba(0, 0, 0, 0.1) -4px 25px 25px -6px !important;
}
.v-overlay__content .v-list {
  font-size: $fz-base !important;
  padding: 0.25rem 0.5rem !important;
  border: 1px solid #ececec;
  box-shadow: none !important;
}

.v-overlay__content .v-list-item {
  border-radius: $rd-lg !important;
  min-height: 40px !important;
  margin: 0.25rem 0 !important;
}
.v-list-item--active > .v-list-item__overlay {
  opacity: 0.2 !important;
}
.v-list-item-title {
  font-size: $fz-base !important;
  .icon {
    color: $cl-gray5 !important;
    transition: 0.2s all;
  }
}
.v-list-item:hover {
  & > .v-list-item__overlay {
    opacity: 0.085 !important;
  }
  .v-list-item-title .icon {
    color: $cl-text !important;
  }
}
.v-list-item.active {
  pointer-events: none;
  & > .v-list-item__overlay {
    opacity: 0.185 !important;
  }
  .v-list-item-title .icon {
    color: $cl-text !important;
  }
}
.v-list-item--density-default:not(.v-list-item--nav).v-list-item--one-line {
  padding-inline: 12px;
}
.v-field--error:not(.v-field--disabled) .v-label.v-field-label {
  color: inherit !important;
}
.v-label {
  font-size: $fz-base !important;
}
.v-chip--label {
  border-radius: $rd-lg !important;
}
.v-chip {
  font-size: 13px !important;
  &:hover > .v-chip__overlay {
    opacity: 0.2 !important;
  }
}
.v-select-order {
  max-width: calc($space-xl + 20px);
  .v-field__append-inner {
    display: none !important;
  }
  .v-field--appended {
    padding-inline-end: 0 !important;
  }
  .v-input__append {
    cursor: not-allowed;
    pointer-events: none;
  }
  .v-field__input {
    padding: 0 1rem 0 0 !important;
    justify-content: center !important;
  }
  .icon {
    font-size: 20px !important;
    margin-top: 1px;
    transition: 0.4s all;
  }
  &.v-select--active-menu {
    .icon {
      rotate: 180deg;
    }
  }
}

.v-checkbox, .v-radio-group {
  .v-selection-control__input, .v-selection-control__wrapper {
    width: auto;
    height: auto;
    margin-right: 4px;
  }
  .v-selection-control {
    min-height: 40px !important;
  }
}

.v-rating-control {
  gap: $space-xs;
  .v-rating__wrapper {
    background-color: $cl-white;
    border-radius: $rd-lg;
    min-width: calc(20% - $space-xs);
    padding-bottom: 0.5rem;
    border: 1px solid $cl-gray2;
  }
  & > label {
    display: none;
  }
}

.v-main {
  background: #f2f2f2;
}
/* Áp dụng toàn bộ style hiện đại cho Vuetify Data Table */
body .v-table {
  border-radius: $rd-xl;
  background-color: $cl-white;
  font-size: $fz-base;
  color: $cl-text;
  box-shadow: none;
  overflow-x: auto;
  border: 1px solid $cl-gray2;
}

/* Header table */
thead.v-data-table__thead {
  position: sticky;
  top: 0;
  left: 0;
  background-color: $cl-white;
  z-index: 2;
}
body .v-data-table__thead th {
  font-weight: 700 !important;
  color: $cl-gray5 !important;
  white-space: nowrap;
}

/* Body cells */
body .v-data-table__td {
  border-bottom: 1px solid $cl-gray2 !important;
  padding: 12px 1rem !important;
}

body .v-data-table__thead th:first-child,
body .v-data-table__tr td:first-child {
  padding-left: 2rem !important;
}

body .v-data-table__thead th:last-child,
body .v-data-table__tr td:last-child {
  padding-right: 2rem !important;
}

/* Hover row effect */
body tbody tr:hover td {
  background-color: $cl-gray6 !important;
  transition: background-color 0.2s ease-in-out !important;
}

// fix cot
.v-data-table-sticky-cl,
.v-data-table-sticky-cl-right {
  position: sticky;
  left: 0;
  background-color: $cl-white;
  z-index: 1;
}

td.v-data-table-sticky-cl,
td.v-data-table-sticky-cl-right {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.v-data-table-sticky-cl-right {
  left: auto;
  right: 0;
}
/* Nút hành động */
.v-btn {
  letter-spacing: inherit !important;
}
.v-tab.v-tab.v-btn {
  text-transform: none;
}
.v-tab--selected {
  color: $cl-black !important;
}
body .v-table .v-btn {
  font-size: 13px;
  text-transform: none;
  min-width: unset;
  padding: 4px 8px;
}

.v-divider {
  opacity: 1 !important;
  border-color: $cl-gray2 !important;
}

.v-data-table-footer {
  padding: 12px 1.3rem 12px 2rem !important;
}
tr.v-data-table__tr:last-child td {
  border-bottom: none !important;
}
.v-img__img {
  background-color: $cl-gray2;
  border-radius: $rd-lg;
}
.table-prepend {
  position: relative;
  background-color: $cl-white;
  top: -10px;
}
.table-prepend td {
  border-color: $cl-gray2 !important;
  padding-bottom: 1rem !important;
}

body .text-primary {
  color: $cl-primary !important;
}

// swal2
.swal2 {
  &-container {
    padding: 1rem;
  }
  &-popup {
    padding: 0;
    border-radius: $space-lg;
    overflow: hidden;
  }
  &-actions {
    gap: 1rem;
    width: 100%;
    margin: 24px 0 0 0;
    padding: 24px;
    background-color: $cl-gray6;
    border-top: 1px solid $cl-gray;
    button {
      font-size: $fz-base;
      padding: 0;
    }
  }
  &-icon {
    // color: $cl-white !important;
    // background: $cl-gradient-1;
    border-width: 1px !important;
  }
  &-title {
    font-size: 24px;
    font-weight: 500;
    color: $cl-black;
  }
  &-html {
    &-container {
      padding: 0;
      margin-top: 0.5rem;
      color: $cl-gray5;
      font-size: $fz-base;
    }
  }
}
