@use "@/assets/variables" as *;

.header-admin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $height-header-admin;
  padding: 0 $space-md;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  background-color: $cl-gray2;
  z-index: 11;
  &-right,
  &-left {
    display: flex;
    align-items: center;
  }
  &-left {
    flex: 1;
    gap: 0.5rem;
  }
  &-right {
    gap: 1rem;
    justify-content: end;
    &-avatar img {
      border-radius: 50%;
      width: $space-xl;
      object-fit: cover;
    }
    &-list {
      min-width: 200px;
    }
  }
  .v-input {
    max-width: 200px;
  }
  @media (min-width: 1025px) {
    width: calc(100% - $width-taskbar);
  }
}

.main-admin {
  padding-top: $height-header-admin;
}
