@use "@/assets/variables" as *;

$height-tab: 48px;

.order-main-content, .order-main-content-scroll {
  height: calc(100dvh - ($height-header + $height-menu-bottom + $height-tab));
  overflow: hidden;
}
.order-main-content {
  overflow: hidden;
}
.order-main-content-scroll {
  overflow-y: auto;
}
