@use "@/assets/variables" as *;

$height-tab: 48px;

.order-main-content-scroll {
  height: calc(100dvh - ($height-header + $height-menu-bottom));
  overflow: hidden;
}

@media (min-width: 1025px){
  .order-main-content-scroll {
    height: calc(100dvh - $height-header);
  }
}
