@use "@/assets/variables" as *;

.popup-search {
  .portal-popup-header-actions {
    position: static;
    flex: 1;
  }
  .portal-popup-header .button {
    border-radius: $rd-lg;
  }
  &-cancel {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    cursor: pointer;
    padding-right: 8px;
  }
  @media (max-width: 1024px){
    .portal-popup-header {
      padding-left: 70px;
    }
  }
}