@use "@/assets/variables" as *;

.payment-template1 {
  &-item {
    position: relative;
    padding: 0;
    min-height: $space-xl;
    border: 1px solid $cl-gray2;
    border-radius: $rd-lg;
    font-size: $fz-base;
    width: 100%;
    transition: 0.3s all;
    &:not(:last-child) {
      margin-bottom: $space-sm;
    }
    &.checked {
      border-color: $cl-gray;
      background-color: $cl-gray2;
    }
    .v-selection-control {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
      z-index: 1;
      & > .v-selection-control__wrapper, & > .v-label {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      .v-selection-control__wrapper {
        left: auto;
        right: 0;
        width: auto;
      }
      .v-label {
        padding-left: 3.325rem;
      }
    }
  }
  &-info {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  &-group .v-selection-control-group {
    margin: 0 !important;
  }
}
