@use "@/assets/variables" as *;

.cart-template1 {
  &-item {
    display: flex;
    background-color: $cl-white;
    border: 1px solid $cl-gray2;
    padding: $space-xs;
  }
  &-image {
    width: 100px;
    img {
      border-radius: $rd-lg;
      background-color: $cl-gray6;
    }
  }
  &-info {
    width: calc(100% - 100px);
    padding: 6px 6px 6px 12px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .text-color-black {
      padding-right: 60px;
    }
  }
  &-options {
    color: $cl-gray5;
    margin: -4px 0 8px 0;
    span {
      color: $cl-text;
    }
  }
  &-action {
    display: flex;
    justify-content: space-between;
    align-items: end;
  }
  &-input {
    display: flex;
    width: fit-content;
    padding: 4px;
    background-color: $cl-gray6;
    border-radius: $rd-lg;
  }
  &-quantity {
    min-width: 40px;
  }
  &-delete {
    position: absolute;
    right: 0;
    top: 0;
  }
}
