@use "@/assets/variables" as *;

.taskbar {
  &-icon {
    color: $cl-gray5;
    position: absolute;
    top: 6px;
    left: 6px;
    z-index: 1;
    &.active {
      color: $cl-text;
      background-color: $cl-white;
      box-shadow: 0px 3px 4px -1px #00000026;
    }
  }
  &-href {
    position: relative;
  }
  &-text {
    width: 100%;
    justify-content: left;
    padding-left: 48px;
    background-color: transparent;
    &:hover,
    &.active {
      color: $cl-black !important;
      border-width: 1px;
      border-style: solid;
    }
  }
  &-content, .taskbar-dropdown-content {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  &-dropdown {
    &-icon {
      position: absolute;
      top: 50%;
      right: 0.5rem;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      color: $cl-gray5 !important;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      &.active {
        -webkit-transform: translateY(-50%) rotate(180deg);
        transform: translateY(-50%) rotate(180deg);
      }
    }
    &-content {
      max-height: 0;
      overflow: hidden;
      transition: all 0.3s ease-in-out;
      position: relative;
      margin-top: 4px;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 1.25rem;
        width: 2px;
        height: calc(100% - 30px);
        background-color: $cl-gray7;
      }
      .taskbar-text {
        color: $cl-gray5;
      }
      &.active {
        max-height: 500px;
        & .taskbar-dropdown-href {
          &::before {
            content: '';
          position: absolute;
          width: 1rem;
          height: 24px;
          top: 0;
          left: 20px;
          border-left: 2px solid $cl-gray7;
          border-bottom: 2px solid $cl-gray7;
          border-radius: 0 0 0 8px;
          }
        }
      }
    }
  }
  &.active {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}